In [1]:
import pandas as pd

In [2]:
df = pd.read_fwf(
    'capstone_lyrics.txt',
    header=None,
)[[0]]

df.columns = ['lyrics']

In [3]:
df = df.dropna()
df = df.reset_index(drop=True)

In [4]:
df[df['lyrics'].str.contains('marathon')]

                                                 lyrics
2164  The marathon will be televised for N.I.P. (Aww...
4987                 On a marathon, have to run my race
5009                 On a marathon, told me run my race

In [6]:
beyonce = df.loc[:5010].copy()
beyonce.loc[5010] = 'Find your way back'

beyonce['artist'] = 'beyonce'

In [7]:
rihanna = df.loc[5010:].copy()
rihanna.loc[5010] = 'Work, work, work, work, work, work'

rihanna['artist'] = 'rihanna'

In [8]:
df = pd.concat([beyonce, rihanna], ignore_index=True)
df.to_csv('lyrics_and_artist.csv', index=False)